<mat-card appearance="outlined" class="m-2">
  <div class="flex justify-between">
    <div>
      <mat-card-header>
        <div mat-card-avatar class="bg-cover flex items-center">
          <mat-icon
            fontIcon="book"
          ></mat-icon>
        </div>
        <mat-card-title>Dia 1</mat-card-title>
        <mat-card-subtitle>Que es la teologia sistematica</mat-card-subtitle>
      </mat-card-header>
    </div>
    <div class="flex items-center">
      <mat-card-content class="">
        <span class="font-semibold">paginas 2-4</span>
        <mat-checkbox class="example-margin"></mat-checkbox>
      </mat-card-content>
    </div>
  </div>
</mat-card>
