<div class="">
  @if (isLoading()) {
  <div class="text-center">
    <div class="flex justify-center">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
    <div class="mt-4">
      <h3 class="state-title">Cargando planes...</h3>
      <p class="state-description">Obteniendo tus planes de lectura</p>
    </div>
  </div>
  } @else if (error()) {
  <div class="text-center">
    <mat-icon>error_outline</mat-icon>
    <h3 class="state-title">Error al cargar planes</h3>
    <p class="state-description">
      {{ error() }}
    </p>
    <button mat-raised-button color="primary" (click)="onRefreshPlans()">
      <mat-icon>refresh</mat-icon>
      Reintentar
    </button>
  </div>
  } @else if (!hasPlans()) {
  <div class="text-center">
    <mat-icon>library_books</mat-icon>
    <h3 class="state-title">No tienes planes de lectura</h3>
    <p class="state-description">
      Crea tu primer plan de lectura para comenzar tu aventura literaria
    </p>
  </div>
  } @else {
  <mat-accordion>
    @for (plan of plans(); track plan.id_plan; let i = $index) {
    <mat-expansion-panel
      [expanded]="i === 0"
      (opened)="togglePanel(plan.id_plan, true)"
      (closed)="togglePanel(plan.id_plan, false)"
      [class.overdue]="plan.dias_atrasado > 0"
      [class.completed]="plan.estado === 'COMPLETADO'"
      [class.paused]="plan.estado === 'PAUSADO'"
    >
      <mat-expansion-panel-header class="!min-h-20">
        <mat-panel-title>
          <span class="progress-percentage"
            >{{ getPlanProgress(plan) }}%&nbsp;</span
          >
          <mat-progress-bar
            mode="determinate"
            [value]="getPlanProgress(plan)"
            [color]="getProgressColor(plan)"
            class="progress-bar"
          ></mat-progress-bar>
        </mat-panel-title>
        <mat-panel-description class="panel-description">
          <div class="flex justify-between w-full">
            <span class="book-title">{{ plan.libro.titulo }}</span>
            <mat-icon class="plan-icon">{{ getPlanIcon(plan) }}</mat-icon>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-plan-card
        [plan]="plan"
        (viewPlan)="onViewPlan($event)"
        (editPlan)="onEditPlan($event)"
        (completePlan)="onCompletePlan($event)"
        (deletePlan)="onDeletePlan($event)"
      />
    </mat-expansion-panel>
    }
  </mat-accordion>
  }
</div>
