<div class="flex justify-center mt-2 p-1">
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)"
      class="p-0"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="flex-shrink-0 text-sm">40%</span>
          <mat-progress-bar
            mode="determinate"
            value="40"
            class="flex-1"
          ></mat-progress-bar>
        </mat-panel-title>
        <mat-panel-description class="flex justify-between text-sm">
          Todos somos teólogos y el nombre mas largo
          <mat-icon class="">book_ribbon</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-plan-card />
    </mat-expansion-panel>

     <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)"
      class="p-0"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="flex-shrink-0 text-sm">40%</span>
          <mat-progress-bar
            mode="determinate"
            value="40"
            class="flex-1"
          ></mat-progress-bar>
        </mat-panel-title>
        <mat-panel-description class="flex justify-between text-sm">
          Todos somos teólogos y el nombre mas largo
          <mat-icon class="">book_ribbon</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-plan-card />
    </mat-expansion-panel>

     <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)"
      class="p-0"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="flex-shrink-0 text-sm">40%</span>
          <mat-progress-bar
            mode="determinate"
            value="40"
            class="flex-1"
          ></mat-progress-bar>
        </mat-panel-title>
        <mat-panel-description class="flex justify-between text-sm">
          Todos somos teólogos y el nombre mas largo
          <mat-icon class="">book_ribbon</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-plan-card />
    </mat-expansion-panel>
  </mat-accordion>
</div>
