
// Custom Theming for Angular Material
@use '@angular/material' as mat;
@use './themes/theme-color.scss' as theme-color;

.bottom-toolbar {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary),
    container-text-color: var(--mat-sys-on-secondary),
  ));

  .mat-icon,
  .mat-mdc-icon-button {
    color: var(--mat-sys-on-secondary);
  }
}

html {
  color-scheme: light;
  @include mat.theme((
    color: (
      primary: theme-color.$primary-palette,
      tertiary: theme-color.$tertiary-palette
    ),
    typography: Roboto,
    density: 0
  ));
}

// Dark theme
html[data-theme="dark"] {
  color-scheme: dark;
  @include mat.theme((
    color: (
      primary: theme-color.$primary-palette,
      tertiary: theme-color.$tertiary-palette
    ),
    typography: Roboto,
    density: 0
  ));
}


