<div class="plan-details-container">
  <!-- Estado de carga -->
  @if (isLoading()) {
  <div>
    <div class="flex justify-center">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
    <p class="text-center text-shadow-2md font-medium">
      Cargando detalles del plan...
    </p>
  </div>
  }

  <!-- Estado de error -->
  @else if (error()) {
  <div class="error-state">
    <mat-icon class="error-icon">error_outline</mat-icon>
    <h3 class="error-title">Error al cargar el plan</h3>
    <p class="error-message">{{ error() }}</p>
    <button mat-raised-button color="primary" (click)="refreshPlan()">
      Reintentar
    </button>
  </div>
  }

  <!-- Detalles del plan -->
  @else if (hasPlanDetails()) {
  <div class="plan-content">
    @if (planWithDetails(); as plan) {

    <mat-card class="mb-4" appearance="raised">
      <mat-card-header>
        <mat-card-title>
          {{ plan.libro.titulo }}
        </mat-card-title>
        <mat-card-subtitle>
          <span class="text-sm font-normal text-gray-600">
            {{ plan.libro.autor }}
          </span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="text-sm text-gray-600">
          {{ plan.descripcion }}
        </p>
      </mat-card-content>
      <mat-card-footer class="mx-4 mt-4 mb-4">
        <div class="flex justify-between items-center">
          <mat-progress-bar
            mode="determinate"
            [value]="roundProgress(plan.progreso_porcentaje)"
            class="progress-bar"
          ></mat-progress-bar>
          <span class="text-xl font-medium"
            >&nbsp;{{ roundProgress(plan.progreso_porcentaje) }}%</span
          >
        </div>
      </mat-card-footer>
    </mat-card>

    <!-- Accordion de días -->
    <mat-accordion class="days-accordion">
      @for (day of getPlanDays(); track day) {
      <mat-expansion-panel
      [expanded]="isDayExpanded(day)"
      (opened)="togglePanel(day, true)"
      (closed)="togglePanel(day, false)"
      class="day-panel" >
        <mat-expansion-panel-header class="!min-h-20">
          <mat-panel-title>
            <div class="flex justify-between items-center w-full">
              <div class="flex items-center">
                <mat-icon>brightness_5</mat-icon>
                <span>&nbsp;Día {{ day }}</span>
              </div>
            </div>
          </mat-panel-title>
          <mat-panel-description>
            <div class="flex justify-end items-end w-full">
              <mat-icon>book</mat-icon>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="mb-4">
          @for (detail of getPlanDetailsByDay()[day]; track detail.id_detalle) {
          <app-plan-card-detail
            [planDetail]="detail"
            [dayNumber]="day"
            (planDetailSelected)="onPlanDetailSelected($event)"
            (markAsRead)="onMarkAsRead($event)"
          >
          </app-plan-card-detail>
          }
        </div>
      </mat-expansion-panel>
      }
    </mat-accordion>
    }
  </div>
  }

  <!-- Estado vacío -->
  @else {
  <div class="empty-state">
    <mat-icon class="empty-icon">book</mat-icon>
    <h3 class="empty-title">No hay detalles del plan</h3>
    <p class="empty-message">
      No se encontraron detalles para este plan de lectura
    </p>
    <button mat-raised-button color="primary" (click)="refreshPlan()">
      Actualizar
    </button>
  </div>
  }
</div>
